<div class="container">
    <div class="row border-bottom pb-3 mb-4 justify-content-center">
        <div class="col-md-6 my-4  mt-5">
            <h1 class="display-6"><%= deliverableTitle %></h1>
        </div>
        <div class="col-md-4 my-4 text-end">
            <p class="mb-0"><%= institution %></p>
            <p class="mb-0"><%= studentName %></p>
            <p class="mb-0"><%= studentID %></p>
            <p class="mb-0"><%= date %></p>
            <p class="mb-0"><%= course %></p>
        </div>
    </div>
</div>